<div class="grid-container gridcontainer">
    <span class="heading" for="">
        SMTP Details
    </span>
    <br>
    <br>
    <form action="">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                <label class="formlabels" for="">From Email*</label>
                <input class="form-control" type="text">

            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                <label class="formlabels" for="">From Name*</label>
                <input class="form-control" type="text">

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                <label class="formlabels" for="">SMTP Host*</label>
                <input class="form-control" type="text" >

            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                <label class="formlabels" for="">SMTP Port (Recommended 465)*</label>
                <input class="form-control" type="text" >

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                <label class="formlabels" for="">SMTP UserName*</label>
                <input class="form-control" type="text" >

            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                <label class="formlabels" for="">SMTP Password*</label>
                <input class="form-control" type="text">

            </div>
        </div>
        <br>
        <button class="saveChangesBtn">Save Changes</button>

    </form>
</div>

