<div class="grid-container">
    
    <form action="">

        <label class="headLabel" for="">
            Referral Customer Settings
        </label>

        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                <label class="formlabels" for="">Min Services complete to get earnings*</label>
                <input class="form-control" type="text" >

            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                <label class="formlabels" for="">Per Referral amount*</label>
                <input class="form-control" type="text">

            </div>
        </div>
        <br>
        <label class="headLabel" for="">
            Referral Provider Settings Password
        </label>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                <label class="formlabels" for="">Min Services complete to get earnings*</label>
                <input class="form-control" type="password">

            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                <label class="formlabels" for="">Per Referral amount*</label>
                <input class="form-control" type="password">

            </div>
        </div>
        
        <br>
        <button class="saveChangesBtn">Save Changes</button>

    </form>
</div>

