<div class="grid-conatiner gridcontainer">
    <div class="formheadlabel">
        <span>
            View withdrawl details
        </span>
    </div>
    <div class="formdiv">
        <form action="">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-4 col-4">
                    <input class="form-control" type="text" placeholder="ID:">
    
                </div>
                <div class="col-md-8 col-lg-8 col-sm-8 col-8">
                    <input class="form-control" type="text" placeholder="Summary:">
    
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                    <input class="form-control" type="text" placeholder="Amount:">
    
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                    <input class="form-control" type="text" placeholder="Date:">
    
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                    <input class="form-control" type="text" placeholder="Status:">
    
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                    <input class="form-control" type="text" placeholder="UserName:">
    
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                    <input class="form-control" type="text" placeholder="Total Withdrawls:">
    
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                    <input class="form-control" type="text" placeholder="Current User Balance:">
    
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                    <input class="form-control" type="text" placeholder="After WithDraw Balance:">
    
                </div>
            </div>
            <br>
            <div class="row">
                <label>Cancel reason</label>
                <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                    <textarea class="form-control" name="" id="" cols="20" rows="10"
                        placeholder="Type Your cancelation reason"></textarea>
    
                </div>
    
            </div>
            <br>
    
            <button class="saveChangesBtn">Save Changes</button>
    
        </form>
    </div>
   
    
</div>