<div class="grid-container">
  <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-6">
        <span class="heading">Dashboard</span>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-6">
        <button class="filterBtn">Filter <i class="fa fa-angle-down"></i></button>
      </div>
  
    </div>
    <br>

    <div class="row cardrow">
        <div class="">
            <div class="card">
                <div class="row itemsinCard">
                    <div class="col-5 col-sm-5 col-md-5 cardImg" >
                      <img src="../../assets/Images/Icon.png" alt="">

                    </div>
                    <div class="col-7 col-sm-7 col-md-7 cardText">
                      <label for="">Total earnings</label>
                      <span class="amount">$2912</span>
                  </div>

                </div>

            </div>
        </div>
        <div class="">
          <div class="card">
              <div class="row itemsinCard">
                  <div class="col-5 col-sm-5 col-md-5 cardImg" >
                    <img src="../../assets/Images/PayabletoWorkers.png" alt="">

                  </div>
                  <div class="col-7 col-sm-7 col-md-7 cardText">
                    <label for="">Payable to Workers</label>
                    <span class="amount">$780</span>
                </div>

              </div>

          </div>
      </div>
      <div class="">
          <div class="card">
              <div class="row itemsinCard">
                  <div class="col-5 col-sm-5 col-md-5 cardImg" >
                    <img src="../../assets/Images/Profit.png" alt="">

                  </div>
                  <div class="col-7 col-sm-7 col-md-7 cardText">
                    <label for="">Profit</label>
                    <span class="amount">$900</span>
                </div>

              </div>

          </div>
      </div>
      <div class="">
          <div class="card">
              <div class="row itemsinCard">
                  <div class="col-5 col-sm-5 col-md-5 cardImg" >
                    <img src="../../assets/Images/CashEarning.png" alt="">

                  </div>
                  <div class="col-7 col-sm-7 col-md-7 cardText">
                    <label for="">Cash earning</label>
                    <span class="amount">$340</span>
                </div>

              </div>

          </div>
      </div>

    
    
      <div class="">
          <div class="card">
              <div class="row itemsinCard">
                  <div class="col-5 col-sm-5 col-md-5 cardImg" >
                    <img src="../../assets/Images/OnlineEarnings.png" alt="">

                  </div>
                  <div class="col-7 col-sm-7 col-md-7 cardText">
                    <label for="">Online earning</label>
                    <span class="amount">$1200</span>
                </div>

              </div>

          </div>
      </div>
      <div class="">
          <div class="card">
              <div class="row itemsinCard">
                  <div class="col-5 col-sm-5 col-md-5 cardImg" >
                    <img src="../../assets/Images/TotalServices.png" alt="">

                  </div>
                  <div class="col-7 col-sm-7 col-md-7 cardText">
                    <label for="">Total Services</label>
                    <span class="amount">2912</span>
                </div>

              </div>

          </div>
      </div>
    <div class="">
      <div class="card">
          <div class="row itemsinCard">
              <div class="col-5 col-sm-5 col-md-5 cardImg" >
                <img src="../../assets/Images/ComletedServices.png" alt="">

              </div>
              <div class="col-7 col-sm-7 col-md-7 cardText">
                <label for="">Complete services</label>
                <span class="amount">2179</span>
            </div>

          </div>

      </div>
  </div>
    <div class="">
      <div class="card">
          <div class="row itemsinCard">
              <div class="col-5 col-sm-5 col-md-5 cardImg" >
                <img src="../../assets/Images/CanceclledServices.png" alt="">

              </div>
              <div class="col-7 col-sm-7 col-md-7 cardText">
                <label for="">Cancelled services</label>
                <span class="amount">670</span>
            </div>

          </div>

      </div>
  </div>


      <div class="">
          <div class="card">
              <div class="row itemsinCard">
                  <div class="col-5 col-sm-5 col-md-5 cardImg" >
                    <img src="../../assets/Images/TotalWorkers.png" alt="">

                  </div>
                  <div class="col-7 col-sm-7 col-md-7 cardText">
                    <label for="">Total workers</label>
                    <span class="amount">468</span>
                </div>

              </div>

          </div>
      </div>
      <div class="">
          <div class="card">
              <div class="row itemsinCard">
                  <div class="col-5 col-sm-5 col-md-5 cardImg" >
                    <img src="../../assets/Images/TotalCustomers.png" alt="">

                  </div>
                  <div class="col-7 col-sm-7 col-md-7 cardText">
                    <label for="">Total customers</label>
                    <span class="amount">4712</span>
                </div>

              </div>

          </div>
      </div>

    </div>
    <br>
    <br>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-6">
        <span class="heading">All Services</span>
      </div>
  
    </div>

    <div class="row cardrow">
      <div class="">
          <div class="card">
              <div class="row itemsinCard">
                  <div class="col-5 col-sm-5 col-md-5 cardImg" >
                    <img src="../../assets/Images/Icon.png" alt="">

                  </div>
                  <div class="col-7 col-sm-7 col-md-7 cardText">
                    <label for="">Total earnings</label>
                    <span class="amount">372</span>
                </div>

              </div>

          </div>
      </div>
        <div class="">
          <div class="card">
              <div class="row itemsinCard">
                  <div class="col-5 col-sm-5 col-md-5 cardImg" >
                    <img src="../../assets/Images/Icon.png" alt="">

                  </div>
                  <div class="col-7 col-sm-7 col-md-7 cardText">
                    <label for="">Total earnings</label>
                    <span class="amount">372</span>
                </div>

              </div>

          </div>
      </div>
      <div class="">
          <div class="card">
              <div class="row itemsinCard">
                  <div class="col-5 col-sm-5 col-md-5 cardImg" >
                    <img src="../../assets/Images/Icon.png" alt="">

                  </div>
                  <div class="col-7 col-sm-7 col-md-7 cardText">
                    <label for="">Total earnings</label>
                    <span class="amount">372</span>
                </div>

              </div>

          </div>
      </div>
      <div class="">
          <div class="card">
              <div class="row itemsinCard">
                  <div class="col-5 col-sm-5 col-md-5 cardImg" >
                    <img src="../../assets/Images/Icon.png" alt="">

                  </div>
                  <div class="col-7 col-sm-7 col-md-7 cardText">
                    <label for="">Total earnings</label>
                    <span class="amount">372</span>
                </div>

              </div>

          </div>
      </div>

    
      <div class="">
          <div class="card">
              <div class="row itemsinCard">
                  <div class="col-5 col-sm-5 col-md-5 cardImg" >
                    <img src="../../assets/Images/Icon.png" alt="">

                  </div>
                  <div class="col-7 col-sm-7 col-md-7 cardText">
                    <label for="">Total earnings</label>
                    <span class="amount">372</span>
                </div>

              </div>

          </div>
      </div>
      <div class="">
          <div class="card">
              <div class="row itemsinCard">
                  <div class="col-5 col-sm-5 col-md-5 cardImg" >
                    <img src="../../assets/Images/Icon.png" alt="">

                  </div>
                  <div class="col-7 col-sm-7 col-md-7 cardText">
                    <label for="">Total earnings</label>
                    <span class="amount">372</span>
                </div>

              </div>

          </div>
      </div>
    <div class="">
      <div class="card">
          <div class="row itemsinCard">
              <div class="col-5 col-sm-5 col-md-5 cardImg" >
                <img src="../../assets/Images/Icon.png" alt="">

              </div>
              <div class="col-7 col-sm-7 col-md-7 cardText">
                <label for="">Total earnings</label>
                <span class="amount">372</span>
            </div>

          </div>

      </div>
  </div>
    <div class="">
      <div class="card">
          <div class="row itemsinCard">
              <div class="col-5 col-sm-5 col-md-5 cardImg" >
                <img src="../../assets/Images/Icon.png" alt="">

              </div>
              <div class="col-7 col-sm-7 col-md-7 cardText">
                <label for="">Total earnings</label>
                <span class="amount">372</span>
            </div>

          </div>

      </div>
  </div>

  
      <div class="">
          <div class="card">
              <div class="row itemsinCard">
                  <div class="col-5 col-sm-5 col-md-5 cardImg" >
                    <img src="../../assets/Images/Icon.png" alt="">
  
                  </div>
                  <div class="col-7 col-sm-7 col-md-7 cardText">
                    <label for="">Total earnings</label>
                    <span class="amount">372</span>
                </div>
  
              </div>
  
          </div>
      </div>
      <div class="">
          <div class="card">
              <div class="row itemsinCard">
                  <div class="col-5 col-sm-5 col-md-5 cardImg" >
                    <img src="../../assets/Images/Icon.png" alt="">
  
                  </div>
                  <div class="col-7 col-sm-7 col-md-7 cardText">
                    <label for="">Total earnings</label>
                    <span class="amount">372</span>
                </div>
  
              </div>
  
          </div>
      </div>

    </div>
    <!-- <div class="row">
        <div class="">
            
          <div class="card">
              <div class="row">
                  <div class="col-md-4">
                      <img src="../../assets/Images/Group 43 (2).png" style="height:41.27px ;width:54px ;top:49 ; left:444px ;" alt="">
                  </div>
                  <div class="col-md-8">
                      <label for="">Total earnings</label>
    
                  </div>
    
              </div>
    
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
              <div class="row">
                  <div class="col-md-4">
    
                      <img src="../../assets/Images/payablworker.png" style="height:41.27px ;width:54px ;top:49 ; left:444px ;" alt="">
                  </div>
                  <div class="col-md-8">
                      <label for="">Payable to Workers</label>
    
                  </div>
    
              </div>
    
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
              <div class="row">
                  <div class="col-md-4">
                      <img src="../../assets/Images/payablworker.png" style="height:41.27px ;width:54px ;top:49 ; left:444px ;" alt="">

    
                  </div>
                  <div class="col-md-8">
                      <label for="">Profit</label>
    
                  </div>
    
              </div>
    
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
              <div class="row">
                  <div class="col-md-4">
    
                      <img src="../../assets/Images/payablworker.png" style="height:41.27px ;width:54px ;top:49 ; left:444px ;" alt="">

                  </div>
                  <div class="col-md-8">
                      <label for="">Cash earning</label>
    
                  </div>
    
              </div>
    
          </div>
        </div>

    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                  <img src="../../assets/Images/payablworker.png" style="height:41.27px ;width:54px ;top:49 ; left:444px ;" alt="">

  
                </div>
                <div class="col-md-8">
                    <label for="">Online earnings</label>
  
                </div>
  
            </div>
  
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                  <img src="../../assets/Images/payablworker.png" style="height:41.27px ;width:54px ;top:49 ; left:444px ;" alt="">

  
                </div>
                <div class="col-md-8">
                    <label for="">Total Services</label>
  
                </div>
  
            </div>
  
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                  <img src="../../assets/Images/payablworker.png" style="height:41.27px ;width:54px ;top:49 ; left:444px ;" alt="">

  
                </div>
                <div class="col-md-8">
                    <label for="">Complete Services</label>
  
                </div>
  
            </div>
  
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                  <img src="../../assets/Images/payablworker.png" style="height:41.27px ;width:54px ;top:49 ; left:444px ;" alt="">

  
                </div>
                <div class="col-md-8">
                    <label for="">Cancelled Services</label>
  
                </div>
  
            </div>
  
        </div>
      </div>

  </div>
  <br>
  <div class="row">
      <div class="col-md-3">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                  <img src="../../assets/Images/payablworker.png" style="height:41.27px ;width:54px ;top:49 ; left:444px ;" alt="">

  
                </div>
                <div class="col-md-8">
                    <label for="">Total Workers</label>
  
                </div>
  
            </div>
  
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                  <img src="../../assets/Images/payablworker.png" style="height:41.27px ;width:54px ;top:49 ; left:444px ;" alt="">

  
                </div>
                <div class="col-md-8">
                    <label for="">Total Customers</label>
  
                </div>
  
            </div>
  
        </div>
      </div>
  </div>
  <br>
  <div class="row">
      <div class="col-lg-6 col-7 col-sm-7 col-md-7 cardTextcol-sm-6 col-6">
        <h1 class="mat-h1">Services</h1>
      </div>
    </div>

    <div class="row">
        <div class="col-md-3">
          <div class="card">
              <div class="row">
                  <div class="col-md-4">
    
                      <img src="../../assets/Images/payablworker.png" style="height:41.27px ;width:54px ;top:49 ; left:444px ;" alt="">

                  </div>
                  <div class="col-md-8">
                      <label for="">Service Name</label>
    
                  </div>
    
              </div>
    
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
              <div class="row">
                  <div class="col-md-4">
                      <img src="../../assets/Images/payablworker.png" style="height:41.27px ;width:54px ;top:49 ; left:444px ;" alt="">

    
                  </div>
                  <div class="col-md-8">
                      <label for="">Service Name</label>
    
                  </div>
    
              </div>
    
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
              <div class="row">
                  <div class="col-md-4">
    
                      <img src="../../assets/Images/payablworker.png" style="height:41.27px ;width:54px ;top:49 ; left:444px ;" alt="">

                  </div>
                  <div class="col-md-8">
                      <label for="">Service Name</label>
    
                  </div>
    
              </div>
    
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
              <div class="row">
                  <div class="col-md-4">
                      <img src="../../assets/Images/payablworker.png" style="height:41.27px ;width:54px ;top:49 ; left:444px ;" alt="">

    
                  </div>
                  <div class="col-md-8">
                      <label for="">Service Name</label>
    
                  </div>
    
              </div>
    
          </div>
        </div>

    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                  <img src="../../assets/Images/payablworker.png" style="height:41.27px ;width:54px ;top:49 ; left:444px ;" alt="">

  
                </div>
                <div class="col-md-8">
                    <label for="">Service Name</label>
  
                </div>
  
            </div>
  
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                  <img src="../../assets/Images/payablworker.png" style="height:41.27px ;width:54px ;top:49 ; left:444px ;" alt="">

  
                </div>
                <div class="col-md-8">
                    <label for="">Service Name</label>
  
                </div>
  
            </div>
  
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
  
                  <img src="../../assets/Images/payablworker.png" style="height:41.27px ;width:54px ;top:49 ; left:444px ;" alt="">

                </div>
                <div class="col-md-8">
                    <label for="">Service Name</label>
  
                </div>
  
            </div>
  
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                  <img src="../../assets/Images/payablworker.png" style="height:41.27px ;width:54px ;top:49 ; left:444px ;" alt="">

  
                </div>
                <div class="col-md-8">
                    <label for="">Service Name</label>
  
                </div>
  
            </div>
  
        </div>
      </div>

  </div>
  <br>
  <div class="row">
      <div class="col-md-3">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                  <img src="../../assets/Images/payablworker.png" style="height:41.27px ;width:54px ;top:49 ; left:444px ;" alt="">

  
                </div>
                <div class="col-md-8">
                    <label for="">Service Name</label>
  
                </div>
  
            </div>
  
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
  
                  <img src="../../assets/Images/payablworker.png" style="height:41.27px ;width:54px ;top:49 ; left:444px ;" alt="">

                </div>
                <div class="col-md-8">
                    <label for="">Service Name</label>
  
                </div>
  
            </div>
  
        </div>
      </div>
      <div class="col-md-3">
          <div class="card">
              <div class="row">
                  <div class="col-md-4">
    
                      <img src="../../assets/Images/payablworker.png" style="height:41.27px ;width:54px ;top:49 ; left:444px ;" alt="">

                  </div>
                  <div class="col-md-8">
                      <label for="">Service Name</label>
    
                  </div>
    
              </div>
    
          </div>
        </div>
  </div>

  <div class="row">
      <div class="col-md-6">
          <table class="table">
              <thead>

              </thead>
              <tbody>
                  
              </tbody>

          </table>

      </div>
      <div class="col-md-6">

      </div>

  </div> -->


</div>