<div class="grid-conatiner gridcontainer">
    <div class="formheadlabel">
        <span for="">
            View withdrawl details
        </span>
    </div>
    <div class="formdiv">
        <form action="">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-4 col-4">
                    <input class="form-control" type="text" placeholder="ID:" disabled>
    
                </div>
                <div class="col-md-8 col-lg-8 col-sm-8 col-8">
                    <input class="form-control" type="text" placeholder="Summary:" disabled>
    
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                    <input class="form-control" type="text" placeholder="Amount:" disabled>
    
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                    <input class="form-control" type="text" placeholder="Date:" disabled>
    
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                    <input class="form-control" type="text" placeholder="Status:" disabled>
    
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                    <input class="form-control" type="text" placeholder="UserName:" disabled>
    
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                    <input class="form-control" type="text" placeholder="Total Withdrawls:" disabled>
    
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                    <input class="form-control" type="text" placeholder="Current User Balance:" disabled>
    
                </div>
            </div>
            <br>
    
            <button class="saveChangesBtn">Save Changes</button>
    
        </form>
    </div>
    
</div>